In [ ]:
import numpy as nb
import pandas as pd

Olympic_Athlete_Bio.csv

In [29]:
athlete_Bio = pd.read_csv('Dataset/Olympic_Athlete_Bio.csv', sep=',')
athlete_Bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155031 entries, 0 to 155030
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     155031 non-null  int64
 1   name           155031 non-null  object
 2   sex            155031 non-null  object
 3   born           155031 non-null  object
 4   height         155031 non-null  object
 5   weight         155031 non-null  object
 6   country        155031 non-null  object
 7   country_noc    155031 non-null  object
 8   description    155031 non-null  object
 9   special_notes  155031 non-null  object
dtypes: int64(1), object(9)
memory usage: 11.8+ MB

In [30]:
print("Number of Rows: ", athlete_Bio.shape[0])
print("Number of Columns: ", athlete_Bio.shape[1])

Number of Rows:  155031
Number of Columns:  10

Olympic_Event_Results.csv

In [20]:
athlete_Event_Results = pd.read_csv('Dataset/Olympic_Athlete_Event_Results.csv', sep=',')
athlete_Event_Results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314907 entries, 0 to 314906
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      314907 non-null  object
 1   edition_id   314907 non-null  int64
 2   country_noc  314907 non-null  object
 3   sport        314907 non-null  object
 4   event        314907 non-null  object
 5   result_id    314907 non-null  int64
 6   athlete      314907 non-null  object
 7   athlete_id   314907 non-null  int64
 8   pos          314907 non-null  object
 9   medal        314907 non-null  object
 10  isTeamSport  314907 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.3+ MB

In [31]:
print("Number of Rows: ", athlete_Event_Results.shape[0])
print("Number of Columns: ", athlete_Event_Results.shape[1])

Number of Rows:  314907
Number of Columns:  11

Olympic_Games_Medal_Tally.csv

In [21]:
games_Medal = pd.read_csv('Dataset/Olympic_Games_Medal_Tally.csv', sep=',')
games_Medal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1779 entries, 0 to 1778
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition      1779 non-null   object
 1   edition_id   1779 non-null   int64
 2   year         1779 non-null   int64
 3   country      1779 non-null   object
 4   country_noc  1779 non-null   object
 5   gold         1779 non-null   int64
 6   silver       1779 non-null   int64
 7   bronze       1779 non-null   int64
 8   total        1779 non-null   int64
dtypes: int64(6), object(3)
memory usage: 125.2+ KB

In [32]:
print("Number of Rows: ", games_Medal.shape[0])
print("Number of Columns: ", games_Medal.shape[1])

Number of Rows:  1779
Number of Columns:  9

Olympic_Results.csv

In [22]:
olympic_Results = pd.read_csv('Dataset/Olympic_Results.csv', sep=',')
olympic_Results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7329 entries, 0 to 7328
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result_id            7329 non-null   int64
 1   event_title          7329 non-null   object
 2   edition              7329 non-null   object
 3   edition_id           7329 non-null   int64
 4   sport                7329 non-null   object
 5   sport_url            7329 non-null   object
 6   result_location      7329 non-null   object
 7   result_participants  7329 non-null   object
 8   result_format        7329 non-null   object
 9   result_detail        7329 non-null   object
 10  result_description   7329 non-null   object
 11  start_date           7329 non-null   object
 12  end_date             7329 non-null   object
 13  time                 7329 non-null   object
dtypes: int64(2), object(12)
memory usage: 801.7+ KB

In [33]:
print("Number of Rows: ", olympic_Results.shape[0])
print("Number of Columns: ", olympic_Results.shape[1])

Number of Rows:  7329
Number of Columns:  14

Olympic_Country.csv

In [23]:
olympic_Country = pd.read_csv('Dataset/Olympics_Country.csv', sep=',')
olympic_Country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country_noc  234 non-null    object
 1   country      234 non-null    object
dtypes: object(2)
memory usage: 3.8+ KB

In [34]:
print("Number of Rows: ", olympic_Country.shape[0])
print("Number of Columns: ", olympic_Country.shape[1])

Number of Rows:  234
Number of Columns:  2

Olympics_Games.csv

In [24]:
olympic_Games = pd.read_csv('Dataset/Olympics_Games.csv', sep=',')
olympic_Games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   edition                 62 non-null     object
 1   edition_id              62 non-null     int64
 2   edition_url             62 non-null     object
 3   season                  62 non-null     object
 4   year                    62 non-null     int64
 5   city                    62 non-null     object
 6   country_flag_url        62 non-null     object
 7   country_noc             62 non-null     object
 8   start_date              62 non-null     object
 9   end_date                62 non-null     object
 10  isHeld                  62 non-null     object
 11  competition_start_date  62 non-null     object
 12  competition_end_date    62 non-null     object
dtypes: int64(2), object(11)
memory usage: 6.4+ KB

In [35]:
print("Number of Rows: ", olympic_Games.shape[0])
print("Number of Columns: ", olympic_Games.shape[1])

Number of Rows:  62
Number of Columns:  13